
<head background-="oak">
    <h2 align="center">About The Web App Developer</h2>
</head>
<img src="~/imageOfDeveloper/myPhoto.jpg" alt="This web App's developer's photo" style="float: right; width:200px;height:300px;"  />
<body background-="light oak">
    <hr />
    @*<h3 align="center"><b>My Resume</b></h3>*@
<b><a href="#pp">Professional Profile</a> ｜ <a href="#pq">Professional Qualifications</a> ｜ <a href="#pr">Projects</a> ｜ <a href="#pe">Professional Experience</a></b>
    <hr />
    Somi Li <br />
    Mobile: 0411127932 <br />
    Email: yisomi102@gmail.com <br />
    Visa Status: Australia Permanent Resident <br />

    <a name="pp"><b>Professional Profile</b></a>
    <ul>
        <li>Programming skill on C# and Python</li>
        <li>Proficient in ASP.NET Core 5, MVC, Entity Framework Core</li>
        <li>Familiar with modern database products like SQL Server, Bigquery and SQLite</li>
        <li>Experience on Angular, HTML, CSS and Javascript.</li>
        <li>Working knowledge of Google Cloud Platform</li>
        <li>Proficient in using GitHub</li>
    </ul>

    <a name="pq"><b>Professional Qualifications</b></a>
    <ul>
        <li>C4 of Programming, Tafe (July 2021 - November 2021)</li>
        <li>Bachelor of literature,Chinese Shaanxi Normal University(assessed by Australian Computer Society) (September 2004 - June 2008)</li>
    </ul>

    <a name="pr"><b>Projects</b></a>
    <ul>
        <li><b>My Shop- online shopping web app</b></li>
        <ul type="circle">
            <li>Three main parts - Front end (Angular), Back end(Entity Framework Core), Database(SQLite)</li>
            <li>Using SQLite to store data</li>
            <li>Using Angular and Razor to build user interfaces</li>
            <li>Using Bootstrap to prototype the app</li>
            <li>Using Entity Framework to built backend and connect with SQLite</li>
            <li>Deploying the web app to Azure</li>
        </ul>
        <li><b>Youtube channel operation</b></li>
        <ul type="circle">
            <li>Analyse channel data</li>
            <li>Website maintenance</li>
            <li>Create youtube videos (writing scripts/ shooting / editing /  dubbing)</li>
            <li>Recommended video:</li>
            <ul >
                <li><a href="https://youtu.be/fPT0YKWFmUs">Six habits to keep your home clean and tidy</a></li>
                <li><a href="https://youtu.be/rm8aSfdTq-c">healthy snacks recipes</a><li>
                <li><a href="https://youtu.be/gh4aJhe7z24">Why is Bill Gates Getting Divorced</a></li>
                <li><a href="https://youtu.be/aQOkjJQq1PA">5 Cursed telephone numbers you should never call</a></li>
            </ul>
        </ul>
    </ul>

    <a name="pe"><b>Professional Experience</b></a>
    <ul>

        <li>
            Company: Pandora (September  2017 - December 2017)<br />
            <b>Position Held:</b> jewellery salesperson<br />
            <b>Key responsibilities:</b><br />
            <ul type="circle">
                <li>Provide customers with comprehensive and detailed product information</li>
                <li>Assistante customers to look for most suitable jewelleries</li>
                <li>Try my best to be best salesperson</li>
                <li>Maintain after-sales service for clients</li>
            </ul>
        </li>

        <li>
            Company: Central Studio of News reels Production （September  2009 - June 2014）<br />
            <b>Position Held:</b>  TV producer<br />
            <b>Key responsibilities:</b><br />
            <ul type="circle">
                <li>Contacting & negotiating with clients</li>
                <li>Planning TV program</li>
                <li>Writing an article for program</li>
                <li>Footaging videos</li>
                <li>Editing videos</li>
            </ul>
        </li>

        <li>
            Zhongtian Phoenix Media Company (October 2008 - August 2009)<br />
            <b>Position Held:</b>  TV producer<br />
            <b>Key responsibilities:</b><br />
            <ul type="circle">
                <li>Contacting & negotiating with clients</li>
                <li>Planning tv program</li>
                <li>Writing an article for program</li>
                <li>Footaging videos</li>
                <li>Editing videos</li>
            </ul>
        </li>
    </ul>

</body>