<h2>About The Web App Developer</h2>
<pre>
Resume
Somi Li
Mobile: 0411127932
Email: yisomi102@gmail.com
Visa Status: Australia Permanent Resident

Professional Profile
Programming skill on C# and Python 
Proficient in ASP.NET Core 5, MVC, Entity Framework Core
Familiar with modern database products like SQL Server, Bigquery and SQLite
Experience on Angular, HTML, CSS and Javascript. 
Working knowledge of Google Cloud Platform
Proficient in using GitHub

Professional Qualifications
C4 of Programming, Tafe (July 2021 - November 2021)
Bachelor of literature,Chinese Shaanxi Normal University(assessed by Australian Computer Society) (September 2004 - June 2008)

Projects 
My Shop- online shopping web app
GitHub:  
Three main parts - Front end (Angular), Back end(Entity Framework Core), Database(SQLite)
Using SQLite to store data
Using Angular and Razor to build user interfaces
Using Bootstrap to prototype the app
Using Entity Framework to built backend and connect with SQLite
Deploying the web app to Azure

Youtube channel operation 
Analyse channel data 
Website maintenance
Create youtube videos (writing scripts/ shooting / editing /  dubbing)
Recommended video: 
<Six habits to keep your home clean and tidy>: https://youtu.be/fPT0YKWFmUs
<healthy snacks recipes>: https://youtu.be/rm8aSfdTq-c
<Why is Bill Gates Getting Divorced>: https://youtu.be/gh4aJhe7z24
<5 Cursed telephone numbers you should never call>: https://youtu.be/aQOkjJQq1PA

Professional Experience
Company: Pandora (September  2017 - December 2017)
                 Position Held: jewellery salesperson.
            Key responsibilities: 
Provide customers with comprehensive and detailed product information
Assistante customers to look for most suitable jewelleries
Try my best to be best salesperson
Maintain after-sales service for clients 
Company: Central Studio of News reels Production （September  2009 - June 2014）
            Position Held: TV producer
            Key responsibilities: 
Contacting & negotiating with clients
Planning TV program 
Writing an article for program
Footaging videos
Editing videos
Zhongtian Phoenix Media Company (October 2008 - August 2009)  
          Position Held: TV producer
          Key responsibilities: 
Contacting & negotiating with clients 
Planning tv program 
Writing an article for program
Filming videos
Editing videos




</pre>
