
<head background-="oak">
    
</head>

<body>

    <b><a href="#ao">Architecture Overview</a> ｜ <a href="#ds">Data Structure</a> | <a href="#sc">Source Code</a></b>
    <hr />
    <a name="ao"><h2>Architecture Overview</h2></a>
    <br />
    <img src="~/img/architecture.png" alt="architecture" />
    <hr />

    <a name="ds"><h2>Data Structure</h2></a>
    <br />
    <img src="~/img/db diagram.png" alt="db diagram" />
    <hr />

    <a name="sc"><h2>Source Code</h2></a>
    <a href="https://github.com/Kivi521/MyShop">find source code on GitHub</a>
    <br/>
    <b>Test Account</b>
    <ul>
        <li><b>username: </b> visitor</li>
        <li><b>password: </b>Hel!oW0rld</li>
    </ul>
</body>