@{
    ViewBag.Title = "Home Page";
}

@*<div class="container-fluid">
        <div><img src="~/slideImg/1.jpg" style="width:100%;" /></div>
        <div><img src="~/slideImg/2.jpg" style="width:100%;" /></div>
        <div><img src="~/slideImg/3.jpg" style="width:100%;" /></div>
    </div>
*@

<div class="container-fluid">
<div class='slider'>
    <div class='slider-items-container'>
        <div class='slider-item'>
            <img src="~/slideImg/1.jpg" />
        </div>
        <div class='slider-item'>
            <img src="~/slideImg/2.jpg"/>
        </div>
        <div class='slider-item'>
            <img src="~/slideImg/3.jpg"/>
        </div>
    </div>
    <div class='controls'>
        <a href="#" class='prev-btn'><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <a href="#" class='next-btn'><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
    <div class='dots'>
    </div>
</div>
</div>





@*<div class="row">
        <div class="col-md-9">
            <div class="product-info">
                <img src="~/imageOfMyShope/F-001.jpeg" />
                <h3>Bookcase</h3>
                <ul class="products-props">
                    <li>Price: $999.9</li>
                    <li>Description: this is a very good bookcase</li>
                </ul>
                <button id="buyButton" class="btn btn-success">Buy</button>
            </div>

            <div>
                <div id="loginToggle">Login</div>
                <form class="popup-form">
                    <div>
                        <label>Username</label>
                        <input />
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" />
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label>Remember me?</label>
                    </div>
                    <div>
                        <input type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <p>This is a fun site to do some buying of my shope.</p>
        </div>
    </div>*@